!!! 5
html(lang="en")
  head
    title Adaptive Mind
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(http-equiv='X-Frame-Options', content='GOFORIT')
    link(rel='stylesheet',href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    link(rel='stylesheet',href='/styles/bootstrap.css')
    link(rel='stylesheet',href='/styles/styles.css')
    link(rel='stylesheet',href='/styles/bootstrap-glyphicons.css')
    link(rel='icon', type='image/png', href='/img/favicon.ico')
    //if IE
      link(rel='SHORTCUT ICON', href='/img/favicon.ico') 


  body
   
       
   block content

   block scripts





