<div class="container" >
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="#index">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="active" ><a href="#login">Login </a></li>
        </ul>
        <h3 class="text-muted"> Adaptive Mind</h3>
      </div>
      <br />
      <div class="txtFormat"> 

        <h2>What is Adaptive Mind</h2>
      <p>Adaptive Mind is a project created by high school students with the dream to provide students a technology to share information. The website consists of a web-page editor to create web pages of knowledge in a matter of minutes. Nowadays, the internet is a vital tool for learning; however, creating a website might take many hours to design, deploy, and share. Together, we can create a mind of knowledge to keep on growing and adapting.</p>

      <h2>How ? </h2>
    <p>With AdaptiveMind, students can work on webpages which they can edit in a matter minutes, add images, videos, text, and more! Moreover, the webpages are designed to be responsive in all types of devices from cellphones to desk computers. Yet, the best feature of AdaptiveMind is that users can share their website by just sending their link to other students. </p>
      <p>
        <h2>There is More?</h2>
    Wait! There is still more! Students can create their own interactive profiles, create groups, and make use of an in-built search system, free of advertisements, to easily locate other students webpages, find friends or groups. </p>
        </div> 


        <div class="footer">
        <p>&copy; Adaptive Mind 2013</p>
      </div>

</div> 




