<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Adaptive Mind</a>
        </div>
        <div class="collapse navbar-collapse">

          <a href="#desk/me"><p class=" btn btn-info navbar-btn">Desk</p></a>
          <a href="#search" ><p class=" btn btn-purple navbar-btn">Search</p></a>
<!--           <a href="#social/me" ><p class=" btn btn-primary navbar-btn">Social</p></a> -->
           <a href="#profile/me" ><p class=" btn btn-warning navbar-btn">Profile</p></a>

          <a href="#login" ><p class="pull-right btn btn-danger navbar-btn">Logout</p></a>
        </div><!--/.nav-collapse -->
      </div>
</div>

  <br />
  <br />
  <br />


<div class="container" > 


	<div>
		<div class="errorAlert"> </div>  
		<div class="panel panel-default "> 

			<!-- Collection of Notebooks  -->
			<div  class="panel-heading">
				Create new Page
			</div>

			<br />

			<!-- Notebook Form -->
			<div class="panel-body">
			<div class="row">

			<form id="notebookCreaterForm" role="form" class="form-horizontal col-xs-12 col-md-8"> 


		    <input type="text" name="title" placeholder="Title" class="form-control" >


	          <br />
	         	<select name="subject" class="form-control"  form="notebookCreaterForm" >
						<option value="Arts">Arts</option>
						<option value="Biology">Biology</option>
						<option value="History">History</option>
						<option value="Literature">Literature</option>
						<option value="Mathematics">Mathematics</option>
						<option value="Physics">Physics</option>
						<option value="Engineering">Engineering</option>
						<option value="Programming">Programming</option>
				</select>

				<br />
	 			<input type="text"  name="description" class="form-control" placeholder="Brief Description">
	 			<br />
		        <input type="submit" name="enter" value="Create"  class="btn btn-default">
			 </div> 
			</form><!-- Notebook Form  Close-->
			</div> 
		</div>

	</div> 

			<div class="panel panel-default" id="noteBookManager"> 
			<div  class="panel-heading">
				Pages <!-- <span class="badge" id="vinBookNum"></span>  -->
			</div>
			<ul id="vinBookListUl" class="list-group">
		
			</ul>
			
		</div>

</div> 





