<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Desk</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          	<li class="active"><a href="#desk/me">Desk</a></li>
            <li><a href="#search">Search</a></li>
            <li><a href="#social/me">Social</a></li>
            <li><a href="#profile/me">Profile</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</div>

  <br />
  <br />
  <br />


<div class="container" > 
	

	
		<div class="panel panel-default" id="noteBookManager"> 
			<div  class="panel-heading">
				Pages <!-- <span class="badge" id="vinBookNum"></span>  -->
			</div>
			<ul id="vinBookListUl" class="list-group">
		
			</ul>
			
		</div>

	<div class="" >

		<div class="panel panel-default "> 

			<!-- Collection of Notebooks  -->
			<div  class="panel-heading">
				Create new Page
			</div>

			<br />

			<!-- Notebook Form -->
			<div class="panel-body">
			<div class="row">

			<form id="notebookCreaterForm" role="form" class="form-horizontal col-xs-12 col-md-8"> 


		    <input type="text" name="title" placeholder="Title" class="form-control" >


	          <br />
	         	<select name="subject" class="form-control"  form="notebookCreaterForm" >
						<option value="Arts">Arts</option>
						<option value="Biology">Biology</option>
						<option value="History">History</option>
						<option value="Literature">Literature</option>
						<option value="Mathematics">Mathematics</option>
						<option value="Physics">Physics</option>
						<option value="Engineering">Engineering</option>
						<option value="Programming">Programming</option>
				</select>

				<br />
	 			<input type="text"  name="description" class="form-control" placeholder="Brief Description">
	 			<br />
		        <input type="submit" name="enter" value="Create"  class="btn btn-default">
			 </div> 
			</form><!-- Notebook Form  Close-->
			</div> 
		</div>

	</div> 

</div> 





