<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand hidden-xs" href="#">Adaptive Mind</a>
        </div>
        <div class="">

          <a href="#desk/me"><p class=" btn btn-info navbar-btn"><i class="fa fa-home"></i></p></a>
          <a href="#search" ><p class=" btn btn-purple navbar-btn"><i class="fa fa-search"></i> </p></a>
<!--           <a href="#social/me" ><p class=" btn btn-primary navbar-btn">Social</p></a> -->
           <a href="#profile/me" ><p class=" btn btn-warning navbar-btn"><i class="fa fa-user"></i></p></a>
           <a href="#world" ><p class=" btn btn-primary navbar-btn"><span class="glyphicon glyphicon-globe "></span></p></a>

          <a href="#login" ><p class="pull-right btn btn-danger navbar-btn">
				<i class="fa fa-sign-out"></i>
          </p></a>
        </div><!--/.nav-collapse -->
      </div>
</div>

  <br />
  <br />
  <br />


<div class="container" > 


	<div>
		<div class="errorAlert"> </div>  
		<div class="panel panel-default hidden-xs "> 

			<!-- Collection of Notebooks  -->
			<div  class="panel-heading">
				Create new Page
			</div>

			<br />

			<!-- Notebook Form -->
			<div class="panel-body ">
			<div class="row">

			<form id="notebookCreaterForm" role="form" class="form-horizontal  col-md-8"> 


		    <input type="text" name="title" placeholder="Title" class="form-control" >


	          <br />
	         	<select name="subject" class="form-control"  form="notebookCreaterForm" >
						<option value="Arts">Arts</option>
						<option value="Biology">Biology</option>
						<option value="History">History</option>
						<option value="Literature">Literature</option>
						<option value="Mathematics">Mathematics</option>
						<option value="Physics">Physics</option>
						<option value="Engineering">Engineering</option>
						<option value="Programming">Programming</option>
				</select>

				<br />
	 			<input type="text"  name="description" class="form-control" placeholder="Brief Description">
	 			<br />
		        <input type="submit" value="Create" class="btn btn-default"/>
			 </div> 
			</form><!-- Notebook Form  Close-->
			</div> 
		</div>

	</div> 

			<div class="panel panel-default" id="noteBookManager"> 
			<div  class="panel-heading">
				Pages <!-- <span class="badge" id="vinBookNum"></span>  -->
			</div>
			<ul id="vinBookListUl" class="list-group">
		
			</ul>
			
		</div>

</div> 





