<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Edit Profile</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          	<li class="active"><a href="#desk/me">Desk</a></li>
            <li><a href="#search">Search</a></li>
            <li><a href="#social/me">Social</a></li>
            <li><a href="#profile/me">Profile</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</div>

  <br />
  <br />
  <br />
  <br />


<div class="container">
	<div class="row"> 
		
	  <form role="form" class="form-horizontal col-xs-12 col-md-12 " > 
		  <div class="col-xs-12 col-md-6 ">
		  		<h1>My Story</h1>
		  		<input type="text"  name="pictureUrl1" class="form-control" placeholder="Picture Url"  autofocus/>
	            <br/> 
	            <textarea class="form-control" name="story" rows="5" placeholder="My story is ..." >
	            	
	            </textarea>
		  </div>

		  <div class="col-xs-12 col-md-6 ">
		  		<h1>Experience</h1>
		  		<input type="text" name="pictureUrl2" class="form-control" placeholder="Picture Url"  />
	            <br/> 
	            <textarea class="form-control" name="experience" rows="5" placeholder="I have experience in ..." >  </textarea>
		  </div>


		  <div class="col-xs-12 col-md-6 ">
		  	<h1>Participation</h1>
		  		<input type="text" name="pictureUrl3" class="form-control" placeholder="Picture Url"  />
	            <br/> 
	            <textarea class="form-control" name="participation" rows="5" placeholder="I have participated in ..." >  </textarea>	
	      	      	<br />
	      </div>


	      <div class="col-xs-12 col-md-6 ">
		  	<h1>Portfolio</h1>
		  		<input type="text" name="pictureUrl4" class="form-control" placeholder="Picture Url"  />
	            <br/> 
	            <textarea class="form-control" name="portfolio" rows="5" placeholder="These are my works..." ></textarea>
	            	      	<br />	
	      </div>

	      <div class="col-xs-12 col-md-12 col-lg-12  ">
	      	<input type="submit" value="SAVE" class="btn btn-success col-xs-12 col-md-12 " />
	      	<br />	<br />	
	      </div>
 	 </form>
	</div>
</div>