<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
        <div class="collapse navbar-collapse">
          <button type="button" id="bold" class="btn btn-default navbar-btn"><a href="#profile/me">See Profile</a></button>
          <button type="button" id="bold" class="btn btn-default navbar-btn"><a href="#desk/me">Desk</a></button>
	        <button id="save" class="btn btn-default navbar-btn">
	    	<a>Save</a></button>
           	<button id="bold"  type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-bold "></span></button>
           <button type="button" id="list" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-list "></span></button>
          <button type="button" id="link" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-link "></span></button>

           




        </div><!--/.nav-collapse -->
      </div>
</div>

  <br />
  <br />
  <br />
  <br />


<div class="container">
	<div class="row"> 
		
	  <form role="form" class="form-horizontal col-xs-12 col-md-12 " > 
		  <div class="">
		  		<h1>My Story</h1>
		  		<input type="text"  name="pictureUrl1" class="form-control" placeholder="Picture Url"  autofocus/>
	            <br/> 
	            <div class="divEdit one" id="story"   contenteditable="true"  >

	            </div>
		  </div>

		  <div class="">
		  		<h1>Experience</h1>
		  		<input type="text" name="pictureUrl2" class="form-control" placeholder="Picture Url"  />
	            <br/> 
	            <div class="divEdit one" id="experience"  contenteditable="true"  >

	            </div>
		  </div>


		  <div class=" ">
		  	<h1>Participation</h1>
		  		<input type="text" name="pictureUrl3" class="form-control" placeholder="Picture Url"  />
	            <br/> 
	            <div class="divEdit one" id="participation"  contenteditable="true"  >

	            </div>
	      </div>


	      <div class="">
		  	<h1>Portfolio</h1>
		  		<input type="text" name="pictureUrl4" class="form-control" placeholder="Picture Url"  />
	            <br/> 
	            <div class="divEdit one" id="portfolio"  contenteditable="true"  >

	            </div>
	      </div>
<br />	<br />	
	
 	 </form>
	</div>
</div>