<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ADAPTIVE MIND</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  <br />
  <br />
  <br />


 <div class="container" style="background-color: #eee;">
  <div class="row">
    <form class="form-horizontal col-xs-12 col-md-8" role="form"  >
            <h2 >Login In</h2>
    <p class="error" id="error"></p>
    <input type="text" name="email"  class="form-control" placeholder="Email address" autofocus>
    <input type="password" name="password" class="form-control" placeholder="Password">
<!--     <label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
    </label> -->
    <br />
    <input type="submit" value="Login Now" class="btn btn-lg btn-primary btn-block">


       <br />
      <a href="#forgotpassword">Forgot Password?</a> <br />
      <a href="#register">Sign Up</a>
      <br /><br /><br />
    </form>
</div>
</div>

