<div class="color"> 

<div class="container" >
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="#index">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#">Contact</a></li>
          <li class="active" ><a href="#login">Login </a></li>
        </ul>
        <h3 class="text-muted"> Adaptive Mind</h3>
      </div>
      <br />

    <div class="row">
      <form class="form-horizontal col-xs-12 col-md-8" role="form"  >
        <h2 >Login In</h2>
        <p class="error" id="error"></p>
        <p>Email</p>
        <input type="text" name="email"  class="form-control" placeholder="Email address" autofocus>
        <p>Password</p>
        <input type="password" name="password" class="form-control" placeholder="Password">
  <!--     <label class="checkbox">
        <input type="checkbox" value="remember-me"> Remember me
      </label> -->
        <br />
        <input type="submit" value="Login Now" class="btn btn-lg btn-primary btn-block">


        <br />
        <a href="#forgotpassword">Forgot Password?</a> <br />
        <a href="#register">Sign Up</a>
        <br /><br /><br />
      </form>
      </div> 



        <div class="footer">
        <p>&copy; Adaptive Mind 2013</p>
      </div>

</div> 

</div> 


