<div class="row" >

	<div class="col-lg-1"> </div>
	<div class="col-lg-4 panel" id="noteBookManager"> 
		<div  class="panel-heading" >My VINbooks <span class="badge" id="vinBookNum"></span> </div>

		<ul id="vinBookListUl" class="list-group">

		</ul>
		
	</div>
	<div class="col-lg-1"> </div>
	<div class="col-lg-5 well"> 

		<!-- Collection of Notebooks  -->

		<h1>What is on your mind?</h1>
		<br />
		<div class="well">
			<button class="btn btn-primary btn-lg btn-block" id="newVinbook" >New VINbook </button>
		</div><!-- Collection of Notebooks Close-->

		<!-- Notebook Form -->
		<form id="notebookCreaterForm" role="form" class="form-horizontal"> 
			<fieldset>
				<legend>Naming the notebook</legend>

				<div class="form-group">
			        <label  class="col-lg-2 control-label">Title</label> 
			        <div class="col-lg-10">
			          <input type="text" name="title" class="form-control" >
			        </div>
			    </div>

				<div class="form-group" >
			        <label  class="col-lg-2 control-label">Subject</label> 
			        <div class="col-lg-10">
			         	<select name="subject" class="form-control"  form="notebookCreaterForm" >
  							<option value="Arts">Arts</option>
  							<option value="Biology">Biology</option>
  							<option value="History">History</option>
  							<option value="Mathematics">Literature</option>
  							<option value="Mathematics">Mathematics</option>
  							<option value="Physics">Physics</option>
  							<option value="Programming">Programming</option>
  							<option value="Mathematics">Mathematics</option>
						</select>
			     	</div>
			     </div>

			    <div class="form-group" >
			     	<label  class="col-lg-3 control-label">Description</label> 
			        <div class="col-lg-9">
			     			<input type="text"  name="description" class="form-control" placeholder="Brief Description">
			     	</div>

			    </div>

			    <div class="form-group" >
			        <div class="col-lg-10">
			        <input type="submit" name="enter"  class="btn btn-default">
			        </div>
			    </div>
		     

			</fieldset>
		</form><!-- Notebook Form  Close-->

	</div>

</div> 
