

<div class="container">

<div class="page-header ">
  <h1>FROM WHERE I COME FROM, <small>my story </small></h1>
</div> 

  <div class="navbar navbar-default ">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand caps" ><%= name.first + ' ' +name.last %> </a>
        </div>
        <div class="collapse navbar-collapse">
          <a href="#desk/me" ><p class=" pull-right btn btn-purple navbar-btn">Desk</p></a>

          <a href="#profile/me/edit" ><p class=" btn btn-primary navbar-btn">Edit
          </p></a>
        </div><!--/.nav-collapse -->
</div> <!-- nav-bar -->



<div class="container">  
  <div class="row">
      <div class="col-md-4 smallCaption" >
        <div class="bigTitle" > <h3>Basics</h3></div>
        <hr> 
         <p id="fullname" class="caps"> <strong>Full Name: </strong> <%= name.first + ' ' +name.last %>   </p>
         <p id="birthday" class="caps"> <strong>Birthday: </strong>  </p>  
         
         <p id="location" class="caps"> <strong>Location: </strong> </p>
     
         
         <div class="bigTitle" > <h3>Portfolio</h3></div>
        <hr> 
        <p id="portfolio"></p>

      </div>

      <div class=" col-md-8 bigCaption">
        <div class="bigTitle"> <h3>It all began...</h3> </div> 
        <hr> 
        <p id="story"></p>

        <div class="bigTitle" > <h3>Experience</h3></div>
        <hr> 
        <p id="experience" ></p>

        <div class="bigTitle" > <h3>Participation</h3></div>
        <hr> 
        <p id="participation"  ></p>



      </div>
  </div>
  <br/><br/>
</div> 



      </div> <!-- container  -->






