<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Profile</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          	<li><a href="#desk/me">Desk</a></li>
            <li><a href="#search">Search</a></li>
            <li><a href="#social/me">Social</a></li>
            <li class="active" ><a href="#profile/me">Profile</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</div>

  <br />
  <br />
  <br />

<div class="container" >  
	<div class="row"> 
		<div class="col-lg-1"> </div>
		<div class="col-lg-4">
			<h1>Profile </h1>
		</div> 
	</div> 
</div> 