<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Adaptive Mind</a>
        </div>
        <div class="collapse navbar-collapse">

          <a href="#desk/me"><p class=" btn btn-info navbar-btn">Desk</p></a>
          <a href="#search" ><p class=" btn btn-purple navbar-btn">Search</p></a>
    <!--       <a href="#social/me" ><p class=" btn btn-primary navbar-btn">Social</p></a> -->
           <a href="#profile/me" ><p class=" btn btn-warning navbar-btn">Profile</p></a>

          <a href="#login"  ><p class="pull-right btn btn-danger navbar-btn">Logout</p></a>
        </div><!--/.nav-collapse -->
      </div>
</div>

  <br />
  <br />
  <br />

<div class="container" >  

	    <div class="input-group">
	      <span class="input-group-addon">
	      	<input type="radio" name="typeOfData" value="0" checked> Pages
	      </span>
	      <span class="input-group-addon">
	      	<input type="radio" name="typeOfData" value="1" > People
	      </span>
	      <!-- <span class="input-group-addon">
	      	<input type="radio" name="typeOfData" value="2" > Groups
	      </span> -->
	    </div><!-- /input-group -->

	        <br />	

	    <div class="input-group">
	      <input type="text" class="form-control" id="submit" name="searchData">
	      <span class="input-group-btn">
	        <button class="btn btn-default" name="searchData" id="submit2" >Search</button> 
	      </span>
	    </div><!-- /input-group -->

      <br />
    <ul id="itemList" class="list-group">
      <li id="results" class="list-group-item"></li>

	  </ul>

	<p>
		<!-- <a href="#addcontact">Add a Contact</a> -->
	</p>

</div> 
