<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Search</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          	<li><a href="#desk/me">Desk</a></li>
            <li class="active"><a href="#search">Search</a></li>
            <li><a href="#social/me">Social</a></li>
            <li><a href="#profile/me">Profile</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</div>

  <br />
  <br />
  <br />

<div class="container" >  

	    <div class="input-group">
	      <span class="input-group-addon">
	      	<input type="radio" name="typeOfData" value="0" checked> Pages
	      </span>
	      <span class="input-group-addon">
	      	<input type="radio" name="typeOfData" value="1" > People
	      </span>
	      <span class="input-group-addon">
	      	<input type="radio" name="typeOfData" value="2" > Groups
	      </span>
	    </div><!-- /input-group -->

	        <br />	

	    <div class="input-group">
	      <input type="text" class="form-control" id="submit" name="searchData">
	      <span class="input-group-btn">
	        <button class="btn btn-default" name="searchData" id="submit2" >Search</button> 
	      </span>
	    </div><!-- /input-group -->

      <br />
    <ul id="itemList" class="list-group">
      <li id="results" class="list-group-item"></li>

	  </ul>

	<p>
		<!-- <a href="#addcontact">Add a Contact</a> -->
	</p>

</div> 
