<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand hidden-xs" href="#">Adaptive Mind</a>
        </div>
        <div class="">

          <a href="#desk/me"><p class=" btn btn-info navbar-btn"><i class="fa fa-home"></i></p></a>
          <a href="#search" ><p class=" btn btn-purple navbar-btn"><i class="fa fa-search"></i> </p></a>
<!--           <a href="#social/me" ><p class=" btn btn-primary navbar-btn">Social</p></a> -->
           <a href="#profile/me" ><p class=" btn btn-warning navbar-btn"><i class="fa fa-user"></i></p></a>
           <a href="#world" ><p class=" btn btn-primary navbar-btn"><span class="glyphicon glyphicon-globe "></span></p></a>

          <a href="#login" ><p class="pull-right btn btn-danger navbar-btn">
        <i class="fa fa-sign-out"></i>
          </p></a>
        </div><!--/.nav-collapse -->
      </div>
</div>

  <br />
  <br />
  <br />

<div class="container" >  

	    <div class="input-group">
	      <span class="input-group-addon">
	      	<input type="radio" name="typeOfData" value="0" checked> Pages
	      </span>
	      <span class="input-group-addon">
	      	<input type="radio" name="typeOfData" value="1" > People
	      </span>
	      <!-- <span class="input-group-addon">
	      	<input type="radio" name="typeOfData" value="2" > Groups
	      </span> -->
	    </div><!-- /input-group -->

	        <br />	

	    <div class="input-group">
	      <input type="text" class="form-control" id="submit" name="searchData">
	      <span class="input-group-btn">
	        <button class="btn btn-default" name="searchData" id="submit2" >Search</button> 
	      </span>
	    </div><!-- /input-group -->

      <br />
    <ul id="itemList" class="list-group">
      <li id="results" class="list-group-item"></li>

	  </ul>

	<p>
		<!-- <a href="#addcontact">Add a Contact</a> -->
	</p>

</div> 
