<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand hidden-xs" href="#">Adaptive Mind</a>
        </div>
        <div class="">

          <a href="#desk/me"><p class=" btn btn-info navbar-btn"><i class="fa fa-home"></i></p></a>
          <a href="#search" ><p class=" btn btn-purple navbar-btn"><i class="fa fa-search"></i> </p></a>
<!--           <a href="#social/me" ><p class=" btn btn-primary navbar-btn">Social</p></a> -->
           <a href="#profile/me" ><p class=" btn btn-warning navbar-btn"><i class="fa fa-user"></i></p></a>
           <a href="#world" ><p class=" btn btn-primary navbar-btn"><span class="glyphicon glyphicon-globe "></span></p></a>

          <a href="#login" ><p class="pull-right btn btn-danger navbar-btn">
        <i class="fa fa-sign-out"></i>
          </p></a>
        </div><!--/.nav-collapse -->
      </div>
</div>

  <br />
  <br />
  <br />


<div class="container">
	<div class="row"> 
		
	  <form role="form" class="form-horizontal col-xs-12 col-md-12 " > 
		  <div class="">
            <strong> Title:<strong> <br/>  <br/> <input type="text" name="title" class="form-control" placeholder="Title" autofocus />
            <br/> 
         	<strong> Subject:<strong> <br/>  <br/><select name="subject" class="form-control"  form="notebookCreaterForm" >
					<option value="Arts">Arts</option>
					<option value="Biology">Biology</option>
					<option value="History">History</option>
					<option value="Literature">Literature</option>
					<option value="Mathematics">Mathematics</option>
					<option value="Physics">Physics</option>
					<option value="Engineering">Engineering</option>
					<option value="Programming">Programming</option>
			</select>
            <br/> 
            <strong> Description:<strong> <br/>  <br/><input type="text" name="description"  class="form-control" placeholder="Description"  />
              <br/>
            <input type="radio" name="design" value="1">Blog Format
             <input type="radio" name="design" value="0">Notes Format
			<br/>  <br/>
            <input type="submit" value="Save" 
            class="btn btn-success btn-lg btn-block"  />
		  </div>


<br />	<br />	
	
 	 </form>
	</div>
</div>