<div id="art" class="specialContainer"  >
				
	<h1><%= title %> </h1>
	<h4><%= subject %>  </h4> 
	<hr>
	<br />
			


			
	
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" id='closeModal' class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Look for an image!</h4>
        </div>
        <div class="modal-body">
        	<!-- INPUT IMAGES -->
			<div class="input-group">
		      <input type="text" class="form-control" name="searchbox" id="request">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button" id="search" >Google</button>
		        <button class="btn btn-default" type="button" id="more" >More+</button>
		      </span>
		    </div>

      	<!-- INPUT IMAGES -->
        </div>
        <br />
        <div class="modal-footer">
        	  <div id="image-content">
		      </div>
    
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div> 
