<!-- <ol class="breadcrumb">
  <li><a href="">Adaptive Mind</a></li>
  <li><a href="#world">World</a></li >
</ol>
 -->

<div class="backColor"> 
<br>
  <section class="paper">
      	<article class="head"  >
      		<div>
      			<p class="pull-right">&nbsp; &nbsp;</p> 
      			<a class="pull-right btn btn-default" href=""><img src="/img/logo2.png"  class=" logo" /></a>
      			<p class="pull-right">&nbsp;</p> 
	           <a href="#world" ><p class="pull-right btn btn-primary "><span class="glyphicon glyphicon-globe "></span></p></a>

	
      			<h1><%= title %> </h1>
				<h4><%= subject %>  </h4>

			</div>
      	</article>

      	<div id="art" class="specialContainer">

      	</div>

  </section>


</div>