
<div id="totalHeight">
  <div class="backColor"> 
  <br>
    <section class="paper">
        	<article class="head caps"  >
        		<div>
        			<p class="pull-right">&nbsp; &nbsp;</p> 
        			<a class="pull-right btn btn-default" href=""><img src="/img/logo2.png"  class=" logo" /></a>
        			<p class="pull-right">&nbsp;</p> 
  	           <a href="#world" ><p class="pull-right btn btn-primary "><span class="glyphicon glyphicon-globe "></span></p></a>

  	           <br class="hidden-sm hidden-md hidden-lg">
        			<h1><%= title %> <small><%= subject %> </small>  </h1>
          <h4><strong> Author:</strong> <span id="nam" style="color:rgb(64,150,238);"> </span> </h4>  

  			</div>
        	</article>

        	<div id="art" class="specialContainer">

        	</div>

    </section>


  </div>
</div>
