<nav id="bar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<button id="IMG"  type="button" data-media="1" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-camera "></span></button>
	<button id="VID"  type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-film "></span></button>
	<button id="TXT"  type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-edit "></span></button>
	<button id="TXT"  type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-book "></span></button>
	<button id="FRM"  type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-arrow-up "></span></button>
	<button id="GRP"  type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-screenshot "></span></button>
	<button id="save"  type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-bookmark "></span></button>
	<a href="#desk/me" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-arrow-left "></span></a>
	<br /><br />
	<span id="mediaForm">

      		<div class="form-group col-lg-4" >
        		<input id="txtUrl" name="txtUrl" type="text" class="form-control" >
      		</div>
      		<button class="btn btn-default" id="sub">Add</button>
      		<button id="close" type="reset" class="btn btn-default" >Close</button>
	</span> 
</nav>

<article id="art">
	<div class="row"> 
		<div class="col-lg-1"> </div>
		<div class="col-lg-10">
			<header> 
				<h1><%= title %> </h1>
				<h4><%= subject %>  </h4> 
				<hr>
				<br />
			<header> 


			<div id="cont" style="height:1000px;" >

			</div> 
	</div> 
</article> 







