<nav id="bar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<button id="IMG"  type="button" data-media="1" class="btn btn-default navbar-btn">IMG</button>
	<button id="VID"  type="button" class="btn btn-default navbar-btn">VIDS</button>
	<button id="TXT"  type="button" class="btn btn-default navbar-btn">TXT</button>
	<button id="TXT"  type="button" class="btn btn-default navbar-btn">MATH TXT</button>
	<button id="FRM"  type="button" class="btn btn-default navbar-btn">FRAME</button>
	<button id="GRP"  type="button" class="btn btn-default navbar-btn">GRAPHS</button>
	<button id="save"  type="button" class="btn btn-default navbar-btn">SAVE</button>
	<a href="#desk/me" class="btn btn-default navbar-btn">DESK</a>
	<button id="up"  type="button" class="btn btn-default navbar-btn"> <span class="glyphicon glyphicon-arrow-up "></span></button>
	<br /><br />
	<span id="mediaForm">

      		<div class="form-group col-lg-4" >
        		<input id="txtUrl" name="txtUrl" type="text" class="form-control" >
      		</div>
      		<button class="btn btn-default" id="sub">Add</button>
      		<button id="close" type="reset" class="btn btn-default" >Close</button>
	</span> 
</nav>

<article id="art">
	<div class="row"> 
		<div class="col-lg-1"> </div>
		<div class="col-lg-10">
			<header> 
				<h1><%= title %> </h1>
				<h4><%= subject %>  </h4> 
				<hr>
				<br />
			<header> 


			<div id="cont" style="height:1000px;" >

			</div> 
	</div> 
</article> 







