
article{
	padding-top: 60px;
}
/* ------------------------DOC-------------------*/

body{
	height:100%;
  overflow:auto;
}


#content{
  height:100%;
  overflow:auto;
}

.color{
  height:100%;
  background-color: red;
  background: url('../img/background.png') no-repeat;
  background-size:100% 100% ;

}

#art {
  overflow:auto;
}

.specialContainer {
  height:1000px;
  width:100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
    overflow:auto;
      position:absolute;
  top:40px;
  left: 0px;
}

.del{
	color:red;
}

.del:active{

	color:purple;
}

.info {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cccccc), to(#aaaaaa), color-stop(0.6, #cccccc));
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
  color: #444;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}


form {
  width: 400px;
}

#the-sticky-div {
    position: relative;
}
/* ------------------------PICTURE DOC-------------------*/
.pict {

  padding: 4px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

.imgClose{
  position: absolute;
  top: 0px;
  left: 0px;
  color:white;
  font-weight: bold;
}

.imgClose:hover{
  color:yellow;
}

.pict2 {
	padding: 5px;
	border: solid 10px white;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
    background-color: white;
}


.pict3 {
	padding: 5px;
	border: solid 10px red;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
    background-color: white;
}
/* ------------------------TEXT OF DOC-------------------*/

.txta{
  width:100%;
  height:25px;
  color:white;

  background-color:red;
  visibility: visible;
}

.txtclose{
  margin-right: 4px;
}

.txtFormat{
  text-align: justify;
  word-wrap:break-word;
  height:100%;
  width:100%;
}

.txtFormatMobile {
    text-align: justify;
  width:100%; 
  margin-top:5px; 
    word-wrap:break-word;
  margin-bottom:10px; 
}

.ImageMobile {
  width:100%; 
  height:auto;
  margin-bottom: 10px;
}

/*! jQuery UI - v1.10.3 - 2013-10-13
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.resizable.css, jquery.ui.button.css, jquery.ui.dialog.css, jquery.ui.theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana%2CArial%2Csans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=cccccc&bgTextureHeader=highlight_soft&bgImgOpacityHeader=75&borderColorHeader=aaaaaa&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=flat&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=glass&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=glass&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=glass&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=glass&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
* Copyright 2013 jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/



/* ------------------------RESIZABLE COMPONENTS OF DOC-------------------*/


.white, .white a {
  color: #fff;
}

.ui-icon { 
  width: 16px; 
  height: 16px; 
  background-image: url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/images/ui-icons_222222_256x240.png);
  background-position: -82px -224px; 
  position:absolute;

}


.ui-resizable {
	position: relative;
}
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}
.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}
.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}
.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}
.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}
.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}

/* ------------------------SIGN IN FROM THE THE BEGINNING-------------------*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    float: left;
    margin-left: 2px;
    color: #b3b3b3;
}

.ui-resizable-helper { border: 2px dotted #00F; }

/* ------------------------SLIDER OF  PROFILE-------------------*/

.caps{
  text-transform:capitalize;
}

.bigCaption{
  border: 1px solid black;
  word-wrap:break-word;
}

.bigCaption p { text-align: justify;
    word-wrap:break-word;
 }
.bigCaption a { text-align: justify;
  word-wrap:break-word;
 }

.smallCaption{
  border: 1px solid black;
  word-wrap:break-word;
  text-align: justify;
}

.bigTitle{
  text-transform:uppercase;
}

.smallTitle{
  width:100%;
  background-color: #3399FF; 
}



.divEdit{
  width:300px;
display: block;
  width: 100%;
  height: 200px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  overflow:scroll;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}



/*--------------------trial profile==========================*/
  .scroll-pane { overflow: auto; width: 99%; height: 100%; float:left; }
  .scroll-content { width: 1700px; height: 400px; float: left; }
  .scroll-content-item { width: 400px; height: 300px; float: left; margin: 10px; font-size: 3em; line-height: 96px; text-align: center; }
  .scroll-bar-wrap { clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; }
  .scroll-bar-wrap .ui-slider { background: none; border:0; height: 2em; margin: 0 auto;  }
  .scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
  .scroll-bar-wrap .ui-slider-handle { top:.2em; height: 1.5em; }
  .scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }

.imgGoogle{
	width:100%;
	height:auto;
}

.imgGoogle:hover{
	border:5px solid black;

}

#image-content{
	/*width:50%;*/
}
/*----------------------------------d3.js----------------------*/

.link {
    fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

.node text {
  /*pointer-events: none;*/
  font: 12px sans-serif ;
  color:white;
  fill: #6666FF;
  font-weight: bold;
}



.leaf {
  fill: rgb(31, 119, 180);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

.branch{
  fill:   rgba(215, 69, 79, 0.5);
/*  fill-opacity: .25;*/
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

.world {
  margin: 1em 0 0.5em 0;
    color: white;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;   
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    margin-left:100px;
    position:absolute;
    top:25px;
    left:5px;
} 

.myDiv{
  background-color: black;

  display: inline-block;
}

.textDiv{
    width:100%;
    height:100%

}

.specidalBreadCrumb{
  margin-bottom: 0px;
}

.ajax-loader {
    position: absolute;
    left: 45%;
    top: 25%;
    width:100px;
    height:auto;
    display: block;     
}

.myToolTip{
  visibility: hidden; 
  position: absolute;
}

/* a----------------------*/


