
article{
	padding-top: 60px;
}
/* ------------------------DOC-------------------*/
.drag {
	width: 100%;
	height: 100%;
}

.del{
	color:red;
}

.del:active{

	color:purple;
}

.info {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cccccc), to(#aaaaaa), color-stop(0.6, #cccccc));
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
  color: #444;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}


form {
  width: 400px;
}

#the-sticky-div {
    position: relative;
}
/* ------------------------PICTURE DOC-------------------*/
.pict {
	padding: 5px;
	border: solid 4px white;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
    background-color: white;
}

.pict2 {
	padding: 5px;
	border: solid 10px white;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
    background-color: white;
}


.pict3 {
	padding: 5px;
	border: solid 10px red;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
    background-color: white;
}
/* ------------------------TEXT OF DOC-------------------*/
.txta{
	background-color: rgba(215, 44, 44, 0);
	border: 0;
	
}


.txta:hover{
	border: dashed blue ;
	
}

.txta:active{
	border: dashed blue ;
	
}




/* ------------------------RESIZABLE COMPONENTS OF DOC-------------------*/


.white, .white a {
  color: #fff;
}



.ui-dialog .ui-resizable-se {
	width: 12px;
	height: 12px;
	right: -5px;
	bottom: -5px;
	background-position: 16px 16px;
}


.ui-resizable {
	position: relative;
}
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}
.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}
.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}
.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}
.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}
.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}

/* ------------------------SIGN IN FROM THE THE BEGINNING-------------------*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    float: left;
    margin-left: 2px;
    color: #b3b3b3;
}

.ui-resizable-helper { border: 2px dotted #00F; }

/* ------------------------SLIDER OF  PROFILE-------------------*/
.text {
  width:100%;
  color: white;
  overflow-y: scroll;
  position:absolute;
  top:0px;
  left:0px;
  height:100%;
  background-color: black;
  margin-top: 27px;
}

.text .slide-container {
  overflow: hidden;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
}

.text .slide-container .slider {
	position:absolute;
  	top:0px;
  	left:0px;
    height:100%;
}
.text .slide-container .slider figure img {
  width: auto;
  height:auto; 
  float: left;
  cursor: move;

}

figure {
  display: block;
  position: relative;
  float: left;
  overflow: hidden;
}
figcaption {
  position: absolute;
  background: black;
  background: rgba(0,0,0,0.5);
  height:500px;
  width:100%;
  color: white;
  padding: 10px 20px;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}
figure:hover figcaption {
  opacity: 1;
}

figure:hover:before {
  opacity: 0;
}

.cap-left:before {  bottom: 10px; left: 10px; }
.cap-left figcaption { bottom: 0; left: -30%; }
.cap-left:hover figcaption { left: 0; }

.cap-right:before { bottom: 10px; right: 10px; }
.cap-right figcaption { bottom: 0; right: -30%; }
.cap-right:hover figcaption { right: 0; }

.cap-top:before { top: 10px; left: 10px; }
.cap-top figcaption { left: 0; top: -30%; }
.cap-top:hover figcaption { top: 0; }

.cap-bot:before { bottom: 10px; left: 10px; }
.cap-bot figcaption { left: 0; bottom: -30%;}
.cap-bot:hover figcaption { bottom: 0; }

/*@media (max-width: 600px) {
	.text .slide-container {

	  border:solid red;
	}
	.text .slide-container .slider {
			position:absolute;
  		top:0px;
  		left:0px;
	  height: 3300px;
	  width: 400px;
	}
	.text .slide-container .slider figure img {
	  width: 100%;
	  height:auto; 
	}
}*/
/*--------------------trial profile==========================*/
  .scroll-pane { overflow: auto; width: 99%; height: 100%; float:left; }
  .scroll-content { width: 1700px; height: 400px; float: left; }
  .scroll-content-item { width: 400px; height: 300px; float: left; margin: 10px; font-size: 3em; line-height: 96px; text-align: center; }
  .scroll-bar-wrap { clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; }
  .scroll-bar-wrap .ui-slider { background: none; border:0; height: 2em; margin: 0 auto;  }
  .scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
  .scroll-bar-wrap .ui-slider-handle { top:.2em; height: 1.5em; }
  .scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }



